.signature-pad-modal {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.signature-pad-modal-wrapper {
  width: 100%;
  height: 100%;
  border: 5px;
  background-color: white;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .signature-pad-modal-wrapper {
    max-width: 1200px;
    width: 90%;
    height: unset;
    border-radius: 5px;
  }
}

.signature-pad-modal-header {
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #bec9d9;
  color: #21242c;
}

.signature-pad-modal-tabs {
  border-bottom: 1px solid #bec9d9;
}

.signature-pad-modal-content {
  padding-top: 20px;
  height: calc(100% - 220px);
}

@media (min-width: 768px) {
  .signature-pad-modal-content {
    height: 440px;
  }
}

.signature-pad-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  border-top: 1px solid #bec9d9;
}

.signature-pad-modal-footer .done-button {
  background-color: #4636E3;
  color: white;
}

.signature-pad-modal-footer .done-button:hover {
  border-color: black;
}
